version: "3"

services:
  server:
    container_name: server
    depends_on:
      - api
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./server
    ports:
      - "${RTB_APP_PORT}:80"

  api:
    container_name: api
    environment:
      - NODE_ENV=${NODE_ENV}
      - BINANCE_API_KEY=${BINANCE_API_KEY}
      - BINANCE_API_SECRET_KEY=${BINANCE_API_SECRET_KEY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_DB=${DB_DB}
    build:
      dockerfile: ./docker/Dockerfile.dev
      context: ./api
    restart: unless-stopped
    volumes:
      - /app/node_modules
      - ./api:/app
